name: Lint Packages

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  lint_packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare
      - run: pnpm run lint:packages
