name: Release

on:
  push:
    branches:
      - main
      - next

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency:
  group: Release
  cancel-in-progress: false

jobs:
  lint_js:
    uses: ./.github/workflows/lint-js.yml
  lint_docs:
    uses: ./.github/workflows/lint-docs.yml
  lint_knip_dev:
    uses: ./.github/workflows/lint-knip-dev.yml
  lint_knip_prod:
    uses: ./.github/workflows/lint-knip-prod.yml
  lint_markdown:
    uses: ./.github/workflows/lint-markdown.yml
  lint_packages:
    uses: ./.github/workflows/lint-packages.yml
  lint_prettier:
    uses: ./.github/workflows/lint-prettier.yml
  lint_spelling:
    uses: ./.github/workflows/lint-spelling.yml
  test:
    uses: ./.github/workflows/test-js.yml
  type_check:
    uses: ./.github/workflows/type-check.yml

  release:
    needs:
      - lint_js
      - lint_docs
      - lint_knip_dev
      - lint_knip_prod
      - lint_markdown
      - lint_spelling
      - lint_prettier
      - test
      - type_check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: ./.github/actions/prepare
        with:
          node-version: v20

      - name: Build
        run: pnpm run build

      - name: Release
        run: pnpm run release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
